<?xml version="1.0" encoding="utf-8"?>
<!-- 声明XML版本和编码格式 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    <!-- 定义Android命名空间 -->
    package="com.catvod.spider">
    <!-- 定义应用程序的包名 -->

    <application
        <!-- 定义应用程序的属性 -->
        android:allowBackup="true"
        <!-- 允许备份应用程序数据 -->
        android:icon="@mipmap/ic_launcher"
        <!-- 设置应用程序图标 -->
        android:label="@string/app_name"
        <!-- 设置应用程序名称 -->
        android:roundIcon="@mipmap/ic_launcher_round"
        <!-- 设置圆形图标 -->
        android:supportsRtl="true"
        <!-- 支持从右到左的语言 -->
        android:theme="@style/AppTheme">
        <!-- 设置应用程序主题 -->

        <activity android:name=".MainActivity">
            <!-- 定义一个活动 -->
            <intent-filter>
                <!-- 定义意图过滤器 -->
                <action android:name="android.intent.action.MAIN" />
                <!-- 设置主活动 -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 设置启动器类别 -->
            </intent-filter>
        </activity>
    </application>
</manifest>
<!-- 结束manifest标签 -->